nav {
    background-color: aqua;
}

nav ul {
    display:flex;
    gap:10px;
    list-style-type: none;
}

/* dropdown  */
.full-dropdown {
    position: fixed;
    top:11%;
    opacity:0;
}

.nav-li:hover .full-dropdown {
    opacity: 1;
}

.dropdown {
    background-color: rgb(255, 36, 36);
  }
  